{% extends "layouts/base-fullscreen.html" %}

{% block title %} Change Password {% endblock %}

{% block content %}   
    <div class="auth-wrapper">
        <div class="auth-content">
            <!-- <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div> -->
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <i class="feather icon-user-plus auth-icon"></i>
                    </div>
                    <h3 class="mb-4">Change password</h3>

                    <span class="mb-0 text-muted">
                        {% if msg %}
                            {{ msg | safe }}
                        {% else %}
                            Add your credentials
                        {% endif %} 
                    </span>

                    <br />
                    <br />

                    <form role="form" method="post" action="">

                        {% csrf_token %}                    

                        <div class="input-group mb-3">
                            {{ form.old_password }}
                        </div>
                        <span class="text-error">{{ form.old_password.errors }}</span>

                        <div class="input-group mb-3">
                            {{ form.new_password1 }}
                        </div>
                        <span class="text-error">{{ form.new_password1.errors }}</span>

                        <div class="input-group mb-4">
                            {{ form.new_password2 }}
                        </div>
                        <span class="text-error">{{ form.new_password2.errors }}</span>
                        
                        <button type="submit" name="register" class="btn btn-primary shadow-2 mb-4">Change password</button>

                    </form>
                    <hr>
                    <p class="mb-2 text-muted">
                        &copy; <a target="_blank" href="https://www.h-epu.com/">HEPU Team</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}