{% extends "layouts/base-fullscreen.html" %}

{% block title %} Register {% endblock %}

{% block content %}   

<div class="auth-wrapper">
    <div class="auth-content">
        <!-- <div class="auth-bg">
            <span class="r"></span>
            <span class="r s"></span>
            <span class="r s"></span>
            <span class="r"></span>
        </div> -->
        <div class="card">
            <div class="card-body text-center">
                <div class="mb-4">
                    <i class="feather icon-mail auth-icon"></i>
                </div>
                <h3 class="mb-4">Password change complete</h3>
                <p>Your new password has been set. <a href="{% url 'home' %}">Back</a>.</p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
